<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
	<title>{echo $title ? : DEFAULT_TITLE}</title>
	<link rel="stylesheet" href="/static/third-party/layui/css/layui.css" type="text/css" media="all">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="/static/css/reset.css" type="text/css" media="all">
	<link rel="stylesheet" href="/static/css/cpstyle.css?time={echo time();}" type="text/css" media="all">
	<link rel="stylesheet" href="/static/css/font.css" type="text/css" media="all">

	

	<script src="/static/js/jquery-2.1.4.min.js"></script>
	<script src="/static/js/jquery.validate.min.js"></script>
	<script src="/static/third-party/layui/layui.js"></script>
	<script src="/static/third-party/laydate/laydate.js"></script>
	<script src="/static/js/common.js" charset="{CHARSET}"></script>
</head>
<body>
