
<div class="layui-form-item">
    <label class="layui-form-label">省/市/区:</label>
    <div class="layui-input-block">
        <select name="province" id="get-province">
            <option value="">请选择省份</option>
            <!--{loop $provinces $item}-->
            <option value="{$item}" {echo $item == $province ? 'selected' : ''}>{$item}</option>
            <!--{/loop}-->
        </select>
        <select name="city" id="get-city">
            <option value="">请选择城市</option>
        </select>
        <select name="area" id="get-area">
            <option value="">请选择区域</option>
        </select>
    </div>
</div>
<script>
jQuery(function($){
    $('#get-province').change(function(){
        $.ajax({
            type: 'POST',
            data: {province:$('#get-province').val(), ajax:1},
            url: 'index.php?mod=cp&act=common&opt=get_area_info',
            success: function(e) {
                var html = '<option value="">请选择城市</option>';
                for(var i in e.data) {
                    html += '<option value="'+e.data[i]+'">' + e.data[i] + '</option>';
                }
                $('#get-city').html(html);
                $('#get-area').html('<option value="">请选择区域</option>');
            }
        })
    });

    $('#get-city').change(function(){
        $.ajax({
            type: 'POST',
            data: {province:$('#get-province').val(), city:$('#get-city').val(), ajax:1},
            url: 'index.php?mod=cp&act=common&opt=get_area_info',
            success: function(e) {
                var html = '<option value="">请选择区域</option>';
                for(var i in e.data) {
                    html += '<option value="'+e.data[i]+'">' + e.data[i] + '</option>';
                }
                $('#get-area').html(html);
            }
        })
    });
})
</script>

<script>
    !function(){
        jQuery(function($){
            // 获取省份
            $.ajax({
                type: 'POST',
                async: false,
                data: {ajax:2},
                url: 'index.php?mod=cp&act=common&opt=get_area_info',
                success: function(e) {
                    var html = '<option value="">请选择省份</option>';
                    for(var i in e.data) {
                        if(e.data[i] == '{$province}') {
                            html += '<option value="'+e.data[i]+'" selected>' + e.data[i] + '</option>';
                        } else {
                            html += '<option value="'+e.data[i]+'">' + e.data[i] + '</option>';
                        }

                    }
                    $('#get-province').html(html);
                }
            });

            if($('#get-province').val()){
                $.ajax({
                    type: 'POST',
                    async: false,
                    data: {province:$('#get-province').val(), ajax:1},
                    url: 'index.php?mod=cp&act=common&opt=get_area_info',
                    success: function(e) {
                        var html = '<option value="">请选择城市</option>';
                        for(var i in e.data) {
                            if(e.data[i] == '{$city}') {
                                html += '<option value="'+e.data[i]+'" selected>' + e.data[i] + '</option>';
                            } else {
                                html += '<option value="'+e.data[i]+'">' + e.data[i] + '</option>';
                            }

                        }
                        $('#get-city').html(html);
                        $('#get-area').html('<option value="">请选择区域</option>');
                    }
                })
            }
            if(($('#get-city')).val()){
                $.ajax({
                    type: 'POST',
                    data: {province:$('#get-province').val(), city:$('#get-city').val(), ajax:1},
                    url: 'index.php?mod=cp&act=common&opt=get_area_info',
                    success: function(e) {
                        var html = '<option value="">请选择区域</option>';
                        for(var i in e.data) {
                            if(e.data[i] == '{$area}') {
                                html += '<option value="'+e.data[i]+'" selected>' + e.data[i] + '</option>';
                            } else {
                                html += '<option value="'+e.data[i]+'">' + e.data[i] + '</option>';
                            }
                        }
                        $('#get-area').html(html);
                    }
                })
            }

        })
    }();
</script>