<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
<title>{echo $navtitle ? : DEFAULT_TITLE}</title>
<link type="text/css" rel="stylesheet" href="/static/css/reset.css">
<link type="text/css" rel="stylesheet" href="/static/css/jjsstyle.css">
<script src="/static/js/jquery-2.1.4.min.js"></script>
</head>
<body>
	<div class="wechat-erwm">
		<h4><img src="static/images/2.jpg"/></h4>
		<p>微信扫描二维码，开始租借雨伞。</p>
	</div>
</body>
</html>
