<script src="/static/js/jquery.bxslider.min.js"></script>
<script src="//cdn.bootcss.com/jquery.devbridge-autocomplete/1.2.27/jquery.autocomplete.js"></script>
<link href="/static/css/jquery.bxslider.css" rel="stylesheet" type="text/css"/>
<fieldset class="fieldsetclass shop-station-list">
	<legend> 查询 </legend>
	<form method="GET" action="index.php">
		<input type="hidden" name="mod" value="{$mod}">
		<input type="hidden" name="act" value="{$act}">
		<input type="hidden" name="opt" value="{$opt}">
		{template jjsan:cp/common/province_city_area}
		<div class="layui-form-item">
			<!-- <h4>商铺名称：</h4> -->
			<label class="layui-form-label">商铺名称：</label>
			<div class="layui-input-inline">
				<input type="text" name="keyword" value="{$_GET['keyword']}" id="autocomplete" class="ui-input-longSize"/>
				<input type="hidden" name="shop" id="shop" value="{$_GET['shop']}">
			</div>
		</div>
		<div>
			<button class="layui-btn">{lang jjsan:station_search}</button>
		</div>
	</form>
</fieldset>
<section>
<div>共{$count}条记录</div>
<table class="layui-table" cellpadding="0" cellspacing="0">
	<thead>
		<tr>
			<th>ID</th>
			<th>名称</th>
			<th>类型</th>
			<th>省份</th>
			<th>城市</th>
			<th>区域</th>
			<th>详细地址</th>
			<th>联系电话</th>
			<th>营业时间</th>
			<th>人均消费</th>
			<th>logo</th>
			<th width="12%">轮播图</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		<!--{loop $shops $shop}-->
		<tr>
			<td>{$shop['id']}</td>
			<td>{$shop['name']}</td>
			<td>{$shop['shoptype']}</td>
			<td>{$shop['province']}</td>
			<td>{$shop['city']}</td>
			<td>{$shop['area']}</td>
			<td>{$shop['locate']}</td>
			<td>{$shop['phone']}</td>
			<td>{$shop['stime']} -- {$shop['etime']}</td>
			<td>{$shop['cost']}</td>
			<td>
				<img src="{$shop['logo'][0]}" style="max-width: 100px;" height="80px" onerror="this.src='static/images/fail-logo.png'">
				<!--{if $shop['default']}-->
				<span class="default_logo">(默认logo)</span>
				<!--{/if}-->
			</td>
			<td style="position:relative; max-width:200px;">
				<ul class="bxslider">
					<!--{loop $shop['carousel'] $carousel_img_url}-->
						<li><img src="{$carousel_img_url}" height="80px" onerror="this.src='static/images/fail.jpg'"/></li>
					<!--{/loop}-->
				</ul>
			</td>
			<td>
				<!--{if $cdo['edit_shop_type']}-->
					<button class="layui-btn layui-btn-mini layui-btn-normal update-shop" data-id="{$shop['id']}">编辑</button>
				<!--{/if}-->
				<!--{if $cdo['update_shop_picture']}-->
				<a href="javascript:;" data-id="{$shop['id']}" class="layui-btn layui-btn-mini layui-btn-green update-logo">更新logo</a>
				<a href="javascript:;" data-id="{$shop['id']}" class="layui-btn layui-btn-mini layui-btn-green update-carousel">更新轮播图</a>
				<!--<a href="index.php?mod=cp&act=shop&opt=carousel-update&page={$page}&shopid={$shop['id']}"-->
				   <!--onclick="showWindow('material_update',this.href);" class="layui-btn layui-btn-mini layui-btn-green">更新轮播图</a>-->
				<!--{/if}-->
			</td>
		</tr>
		<!--{/loop}-->
	</tbody>
</table>
<p> {$pagehtm} </p>
</section>
<script>

	$.getJSON('/index.php?mod=api&act=shop&opt=get_title_list&admin_id={$adminid}' + '&city=' + $('#get-city').val(), function(data) {
		shop_array = data.suggestions;
		autocomplete_title(shop_array);
	});

	$('#get-city').on('change', function () {
		$.ajax({
			url: '/index.php?mod=api&act=shop&opt=get_title_list',
			dataType: "json",
			data: {city: $(this).val()},
		})
		.done(function(data) {
			shop_array = data.suggestions;
			autocomplete_title(shop_array);
		});
	});

	function autocomplete_title(shop_array) {
		$('#autocomplete').autocomplete({
			lookup : shop_array,
			minChars : 0,
			onSelect: function (suggestion) {
				$('#shop').val(suggestion.data);
				console.log('shop:' + suggestion.data + ', keyword:' + suggestion.value);
			},
		});

		$('#autocomplete').on('focus', function (){
			$(this).autocomplete().onValueChange();
		});
	}

	layui.use(['layer', 'form'], function() {
		var layer = layui.layer;
		//　更新商铺
		$(".update-shop").click(function() {
			layer.open({
				type: 2,
				title: '更新商铺',
				maxmin: true,
				area : ['640px' , '500px'],
				content: "index.php?mod=cp&act=shop&opt=update&shopid=" + $(this).data('id')
			});
		});

        // 更新Logo
        $(".update-logo").click(function() {
            layer.open({
                type: 2,
                title: '更新Logo',
                maxmin: true,
                area : ['640px' , '500px'],
                content: "index.php?mod=cp&act=shop&opt=update_logo&type=shop&page={$page}&id=" + $(this).data('id')
            });
        });

        // 更新轮播图
        $(".update-carousel").click(function() {
            layer.open({
                type: 2,
                title: '更新轮播图',
                maxmin: true,
                area : ['1000px' , '500px'],
                content: "index.php?mod=cp&act=shop&opt=update_carousel&page={$page}&shopid=" + $(this).data('id')
            });
        });
	});
</script>
<script>
    $(document).ready(function(){
        $('.bxslider').bxSlider({
            controls: true,
        });
    })
</script>
