{template jjsan:cp/common/header}

<form class="shop-update-content">
	<ul>
		<li style="width: 100%;">
			{template jjsan:cp/common/province_city_area}
		</li>
		<li>
			<span>商铺名称:</span>
			<input type="text" id="shopname" name="name" value="{$shop[name]}" required lay-verify="required">
		</li>

		<li>
			<span>商铺类型:</span>
			<select name="type" class="type">
				<!--{loop $shop_types $item}-->
				<option value="{$item['id']}" {echo $item['id'] == $shop['type'] ? 'selected' : ''}>{$item['type']}</option>
				<!--{/loop}-->
			</select>
		</li>

		<li>
			<span>具体位置:</span>
			<input type="text" name="locate" id="locate" value="{$shop[locate]}" required>
		</li>

		<li>
			<span>人均消费:</span>
			<input type="number" name="cost" id="cost" value="{$shop[cost]}" >
		</li>

		<li>
			<span>商铺电话:</span>
			<input type="text" name="phone" id="phone" value="{$shop[phone]}" >
		</li>

		<li style="width: 100%;">
			<span>营业开始时间:</span>
			<input type="text" name="stime" id="stime" value="{$shop[stime]}" >
			<span>营业结束时间:</span>
			<input type="text" name="etime" id="etime" value="{$shop[etime]}" >
		</li>
		<div style="clear: both"></div>
		<div class="ui-btn-center">
			<input type="button" class="layui-btn layui-btn-green submitbutton" value="更新">
		</div>
	</ul>
</form>
<script>
layui.use(['layer', 'form'], function(){});
</script>
<script>
$('.submitbutton').click(function(){
	$.ajax({
		url: 'index.php?mod={$mod}&act={$act}&opt={$opt}&submit=1&shopid={$shop[id]}',
		method: 'post',
		data:$('.shop-update-content').serialize(),
		async:false,
		success: function(e) {
			if(e.code == 0) {
				layer.msg(e.msg, {icon: 1}, function(){
					parent.layer.close(parent.layer.getFrameIndex(window.name)); // 关闭本iframe层
					parent.location.reload(); // 父页面刷新
				});
			} else {
				layer.msg(e.msg, {icon: 2});
			}
		},
	})
})
</script>
{template jjsan:cp/common/footer}