<!--&lt;!&ndash;{if $cdo['search']}&ndash;&gt;-->
<!--<fieldset class="fieldsetclass">-->
	<!--<legend>搜索</legend>-->
	<!--<div class="layui-form-item">-->
		<!--<div class="layui-input-inline">-->
			<!--<input type="text" class="layui-input" placeholder="只支持登录名搜索" id="search-name">-->
		<!--</div>-->
		<!--<button class="item-update layui-btn" id="user-manage-search">{$cdo['search']}</button>-->
	<!--</div>-->
<!--</fieldset>-->
<!--&lt;!&ndash;{/if}&ndash;&gt;-->
<table class="layui-table access-verify">
    <thead>
    	<tr>
    			<th>申请编号</th>
    			<th>申请人姓名</th>
    			<th>公司</th>
    			<th>角色</th>
				<th>申请城市</th>
				<th>申请日期</th>
				<th>状态</th>
    			<th>操作</th>
    	</tr>
    </thead>
	<!--{loop $info $item}-->
	<tr>
		<td><em>{$item['id']}</em></td>
		<td><em>{$item['name']}</em></td>
		<td><em>{$item['company']}</em></td>
		<td width="12%"><em>{$item['role']}</em></td>
		<td>
			<ul>
				<!--{loop $item['city'] $k $v}-->
					<li class="ui-province-position">
						<div class="layui-btn layui-btn-primary layui-btn-mini" >$k</div>
					</li>
					<!--{loop $v $vv}-->
					<li class="ui-city-position">{$vv}</li>
					<!--{/loop}-->
				<!--{/loop}-->
			</ul>
		</td>
		<td width="12%"><em>{$item['create_time']}</em></td>
		<td>
			<!--{if $item['status'] == ADMIN_CITY_STATUS_APPLIED}-->
			<em style="color: red;">申请中</em>
			<!--{elseif $item['status'] == ADMIN_CITY_STATUS_NORMAL}-->
			<em style="color: #44b753;">通过</em>
			<!--{/if}-->
		</td>
		<td>
			<!--{if $item['status'] == ADMIN_CITY_STATUS_APPLIED}-->
				<!--{if $cdo['pass']}-->
				<button class="edit_role layui-btn layui-btn-normal layui-btn-mini" data-id="{$item['id']}" onclick="handleCityApply(this, 'pass', {$item['admin_id']}, '{$item['name']}')">{$cdo['pass']}</button>
				<!--{/if}-->
			<!--{/if}-->
		</td>
	</tr>
	<!--{/loop}-->
</table>
{$pagehtm}
<script>
    function handleCityApply(t, act, id, name) {
        var cfm,cfm_btn_1,cfm_btn_2;
        switch (act) {
            case 'pass':
                cfm = '确定要通过'+name+'的城市权限请求吗？';
                cfm_btn_1 = '通过申请';
                break;
        };
        cfm_btn_2 = '放弃操作';

        layui.use('layer', function(){
            var layer = layui.layer;
            layer.confirm(cfm, {
                btn: [cfm_btn_1,cfm_btn_2]
            }, function(){
                $.ajax({
                    type: 'POST',
                    data: {uid:id, do:act},
                    url: 'index.php?mod={$mod}&act={$act}&opt={$opt}',
                    success: function(e){
                        if(e.code == 0) {
                            layer.msg(e.msg, {icon: 1}, function(){
                                window.location.reload();
                            });
                        } else {
                            layer.msg(e.msg, {icon: 2});
                        }
                    }
                });
            });
        });
	}
</script>
