{template jjsan:cp/common/header}
<form id="access_role">
        <div class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">角色名称</label>
                <div class="layui-input-inline">
                  <input type="text" name="role" required lay-verify="required" placeholder="" autocomplete="on" class="layui-input" value="{$data[subject]}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">全局搜索权限</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="global_search" lay-skin="switch" value="1" {echo $role['global_search'] ? 'checked' : ''}>
                </div>
            </div>
        </div>
        <fieldset class="fieldsetclass layui-form-item">
            <legend>权限</legend>
            <div>
                <div class="role-add-text">
					<input type="checkbox" name="select_all" id="role-add-all"/>
					<span>全选</span>
				</div>
                <!--{loop $jjsan_nav_tree $key $val}-->
                    <ul class="access">
                        <li class="first-floor">
                            <input type="checkbox" value="{$key}" name="access" title="{$val['text']}" class="user-name same-input">{$val['text']}
                            <ul>
                            <!--{loop $val[sub_nav] $key_key $val_val}-->
                                <li>
                                    <input type="checkbox" value="{$key}/{$key_key}" name='access[]' title="{$val_val['opt']}"  class="second-input same-input">{$val_val['opt']}
									<ul>
										<li>
											<!--{loop $val_val[do] $kkk $vvv}-->
											<span>
												<input type="checkbox" value="{$key}/{$key_key}/{$kkk}" name="access" title="{$vvv}" class="last-input"> {$vvv}
											</span>
											<!--{/loop}-->
										</li>
									</ul>
                                </li>
                            <!--{/loop}-->
                            </ul>
                        </li>
                    </ul>
                    <hr>
                <!--{/loop}-->
            </div>
			<div class="layui-form-item ui-btn-center">
				  <button class="layui-btn create_role" lay-submit lay-filter="*">生成角色</button>
				</div>
        </fieldset>

</form>
<script>
	//全选
	$("#role-add-all").click(function(){
		if(this.checked){
			$(".access :checkbox").prop("checked", true);
		}else{
			$(".access :checkbox").prop("checked", false);
		}
	});
	//部分全选
	$(".user-name").click(function(){
		var checkAll = $(this).siblings("ul").find(":checkbox");
		if(this.checked){
			checkAll.prop("checked",true);
		}else{
			checkAll.prop("checked",false);
		}
	});
	$(".second-input").click(function(){
		var se = $(this).parents(".first-floor").find(".user-name");
		var sm = $(this).siblings("ul").find(".last-input");
		if(this.checked){
			se.prop("checked",true);
			sm.prop("checked",true);
		}else{
			//se.prop("checked",false);
			sm.prop("checked",false);
		}
	});
	$(".last-input").click(function(){
		var lt = $(this).parent("li").parent("ul").parent("li").find(".same-input");
		var sall = $(this).parents(".first-floor").find(".user-name");
		if(this.checked){
			lt.prop("checked",true);
			sall.prop("checked",true);
		}else{
			//lt.prop("checked",false);
			//sall.prop("checked",false);
		}
	});
		
    layui.use(['layer', 'form','upload'], function(){
        var form = layui.form();
        form.on('submit(*)', function(data){
              var role = $("input[name='role']").val();
              if(!role){
                  layer.msg('角色名未填');
                  return;
              }
              var access = [];
              $("input[type='checkbox']:checked").each(function(){
                  var name = $(this).attr("name");
                  if(name != 'global_search' && name != 'select_all') {
                      access.push($(this).val());
                  }
              });
              console.log({'role':role,'access':access});
              var global_search = $("input[name='global_search']:checked").val();
              $.ajax({
                  url:'/index.php?mod={$mod}&act={$act}&opt={$opt}&do=add&ajax=true',
                  data:{'role':role, 'access':access,'global_search': global_search},
                  method:'post',
                  dataType: 'json',
                  success:function(e) {
                      if(e.code == 0) {
                          layer.msg(e.msg, {icon: 1}, function(){
                              parent.layer.close(parent.layer.getFrameIndex(window.name)); // 关闭本iframe层
                              parent.location.reload(); // 父页面刷新
                          });
                      } else {
                          layer.msg(e.msg, {icon: 2});
                      }
                  },
              });
              return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
      });
</script>
{template jjsan:cp/common/footer}

