<section class="station-list">
	{template jjsan:cp/station/search}
	<div>共{$stations['count']}条记录</div>
	<table class="layui-table" lay-skin="line">
		<thead>
		<tr>
			<th>站点ID</th>
			<!--{if $cdo['show_mac']}-->
			<th>mac</th>
			<!--{/if}-->
			<th>商铺站点名称</th>
			<th>所属商铺名称</th>
			<th>网络</th>
			<th>总量</th>
			<th>可借</th>
			<th>可还</th>
			<!--{if $cdo['slot_action']}-->
			<th>槽位</th>
			<!--{/if}-->
			<th>雨伞</th>
			<th>设备电压</th>
			<th>电池状态</th>
			<th>rssi</th>
			<th>软件版本</th>
			<th>机器版本</th>
			<th>模组状态</th>
			<th>最后同步时间</th>
			<!--{if $cdo['manually_control']}-->
			<th>人工控制</th>
			<!--{/if}-->
			<!--{if $cdo['setting_strategy']}-->
			<th>同步策略</th>
			<!--{/if}-->
		</tr>
		</thead>
		<tbody>
		<!--{loop $stations['data'] $station}-->
		<tr>
			<td>
				<!--{if $cdo['show_qrcode']}-->
				<div class="layui-btn-mini layui-btn layui-btn-normal show-qrcode" data-id="{$station['id']}">{$station['id']}</div>
				<!--{else}-->
				{$station['id']}
				<!--{/if}-->
			</td>
			<!--{if $cdo['show_mac']}-->
			<td>{$station['mac']}</td>
			<!--{/if}-->
			<td>
				<!--{if $station['title']}-->
					<a href="/index.php?mod=cp&act=shop_station&opt=list&sid={$station['id']}">{$station['title']}</a>
				<!--{else}-->
					无
				<!--{/if}-->
			</td>
			<td>
				<!--{if $station['title']}-->
				<a href="/index.php?mod=cp&act=shop&opt=list&&keyword={$station['shopname']}">{$station['shopname']}</a>
				<!--{else}-->
				无
				<!--{/if}-->
			</td>
			<td>
				<!--{if $station['network_status']}-->
				<span style="color: green">在线</span>
				<!--{else}-->
				<span style="color: #F7B824">断线</span>
				<!--{/if}-->
			</td>
			<td>{$station['total']}</td>
			<td>{$station['usable']}</td>
			<td>{$station['empty']}</td>
			<!--{if $cdo['slot_action']}-->
			<td>
				<!--{if hexdec($station['slotstatus']) == 0 }-->
				<button class="layui-btn layui-btn-mini layui-btn-green slot-action" data-id="{$station['id']}">正常</button>
				<!--{else}-->
				<button class="layui-btn layui-btn-mini layui-btn-danger slot-action" data-id="{$station['id']}">异常</button>
				<!--{/if}-->
			</td>
			<!--{/if}-->
			<td>
				<!--{if $station['has_outside_sync_umbrella']}-->
				<button class="layui-btn layui-btn-mini layui-btn-danger umbrella" data-id="{$station['id']}">查看</button>
				<!--{else}-->
				<button class="layui-btn layui-btn-mini layui-btn-normal umbrella" data-id="{$station['id']}">查看</button>
				<!--{/if}-->
			</td>
			<td>
				{$station['voltage']}
			</td>
			<td>
				<!--{if $station['isdamage'] == 0}-->
				<span style="color: green">电量满</span>
				<!--{elseif $station['isdamage'] == 1}-->
				<span style="color: #1E9FFF">充电中</span>
				<!--{elseif $station['isdamage'] == 2}-->
				<span style="color: #FF870F">读取不到电量</span>
				<!--{elseif $station['isdamage'] == 3}-->
				<span style="color: #FF0000">未连接电源</span>
				<!--{else}-->
				<span>未知</span>
				<!--{/if}-->
			</td>
			<td>
				{$station['rssi']}
			</td>
			<td>
				{$station['soft_ver']}
			</td>
			<td>
				{$station['device_ver']}
			</td>
			<td>
				<!--{if $station['drivemsg'] == 0}-->
					正常
				<!--{elseif $station['drivemsg'] == 1}-->
					<span style="color: green">语音休眠</span>
				<!--{elseif $station['drivemsg'] == 2}-->
					<span style="color: green">模组休眠</span>
				<!--{else}-->
					未知
				<!--{/if}-->
			</td>
			<td>
				{echo date('Y-m-d H:i:s',$station['sync_time']);}
			</td>
			<!--{if $cdo['manually_control']}-->
			<td>
				<button class="layui-btn layui-btn-mini layui-btn-normal manually-control" data-id="{$station['id']}">详情</button>
			</td>
			<!--{/if}-->
			<!--{if $cdo['setting_strategy']}-->
			<td>
				{$station['station_settings_name']}
				<br>
				<button class="layui-btn layui-btn-normal layui-btn-mini setting-strategy" data-id="{$station['id']}">设置策略</button>
			</td>
			<!--{/if}-->
		</tr>
		<!--{/loop}-->
		</tbody>
	</table>
	<p> {$pagehtm} </p>
</section>
<script>
	layui.use(['layer', 'form'], function() {
            var layer = layui.layer;
            //　设置策略
            $(".setting-strategy").click(function() {
                layer.open({
                    type: 2,
                    title: '设置策略',
                    maxmin: true,
                    area : ['440px' , '500px'],
                    content: "index.php?mod={$mod}&act={$act}&opt=setting-list&do=setting_strategy&sid=" + $(this).data('id')
                });
            });


            $(".umbrella").click(function() {
                layer.open({
                    type: 2,
                    title: '雨伞详情',
                    maxmin: true,
                    area: ['960px', '520px'],
                    content: 'index.php?mod=cp&act=station&opt=umbrella_detail&sid='+$(this).data('id'),
                });
            });

            $(".slot-action").click(function() {
                layer.open({
                    type: 2,
                    title: '槽位操作',
                    maxmin: true,
                    area: ['760px', '610px'],
                    content: 'index.php?mod=cp&act=station&opt=list&do=slot_action&sid='+$(this).data('id'),
                });
            });

            $(".manually-control").click(function() {
                layer.open({
                    type: 2,
                    title: '人工控制',
                    maxmin: true,
                    area: ['760px', '420px'],
                    content: 'index.php?mod=cp&act=station&opt=list&do=manually_control&sid='+$(this).data('id'),
                });
            });

            $(".show-qrcode").click(function() {
                layer.open({
                    type: 2,
                    title: '临时机器二维码',
                    maxmin: true,
                    area: ['760px', '420px'],
                    content: 'index.php?mod=cp&act=station&opt=list&do=show_qrcode&sid='+$(this).data('id'),
                });
            });


        });
</script>
