<fieldset class="fieldsetclass station-search">
    <legend>搜索</legend>
    <form method="get" action="index.php">
            <input type="hidden" value="{$mod}" name="mod">
            <input type="hidden" value="{$act}" name="act">
            <input type="hidden" value="{$opt}" name="opt">
            {template jjsan:cp/common/province_city_area}
            <div class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">网络状态:</label>
                    <div class="layui-input-inline">
                        <select name="status">
                             <option value="-1">全部</option>
                             <option value="1" {echo $status == '1'? 'selected' : '';}>在线</option>
                             <option value="0" {echo $status == '0'? 'selected' : '';}>断线</option>
                        </select>
                    </div>
                    <label class="layui-form-label">电池状态:</label>
                    <div class="layui-input-inline">
                        <select name="isdamage">
                        <option value="-1">全部</option>
                        <option value="0" {echo $isdamage == '0' ? 'selected' : '';}>电量满</option>
                        <option value="1" {echo $isdamage == '1' ? 'selected' : '';}>充电中</option>
                        <option value="2" {echo $isdamage == '2' ? 'selected' : '';}>读取不到电量</option>
                        <option value="3" {echo $isdamage == '3' ? 'selected' : '';}>未连接电源</option>
                        </select>
                    </div>
                    <label class="layui-form-label">排序:</label>
                    <div class="layui-input-inline">
                        <select name="orderby">
                        <option value="0">全部</option>
                        <option value="1" {echo $orderby == '1' ? 'selected' : '';}>心跳率</option>
                        <option value="2" {echo $orderby == '2' ? 'selected' : '';}>开机时长</option>
                        </select>
                    </div>
                    <label class="layui-form-label">降序:</label>
                    <input type="checkbox" name="order_desc" value="1" {echo $order_desc == 1? 'checked':'';} />
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">雨伞模组:</label>
                    <div class="layui-input-inline">
                        <select name="slotstatus">
                           <option value="-1">全部</option>
                           <option value="0" {echo $_GET['slotstatus'] == '0'? 'selected' : '';}>正常</option>
                           <option value="1" {echo $_GET['slotstatus'] == '1'? 'selected' : '';}>部分雨伞或模组异常</option>
                       </select>
                    </div>

                    <label class="layui-form-label" style="width: 106px;">机器硬件版本:</label>
                    <div class="layui-input-inline" style="width: 200px;">
                        <input class="layui-input"　type="text" name="device_ver" value="{$device_ver}"/>
                    </div>

                    <label class="layui-form-label" style="width: 106px;">机器软件版本:</label>
                    <div class="layui-input-inline" style="width: 200px;">
                        <input class="layui-input"　type="text" name="soft_ver" value="{$soft_ver}"/>
                    </div>

                    <label class="layui-form-label" style="width: 106px;">借出后同步雨伞:</label>
                    <div class="layui-input-inline">
                        <input type="checkbox" name="umbrella_outside_sync" {echo $umbrella_outside_sync ? 'checked' : ''}>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">站点ID:</label>
                    <div class="layui-input-inline" style="width: 200px;">
                        <input class="layui-input"　type="text" name="sid" value="{$sid}"/>
                    </div>

                    <label class="layui-form-label">站点名称:</label>
                    <div class="layui-input-inline" style="width: 200px;">
                        <input class="layui-input"　type="text" name="keyword" value="{$keyword}" id="autocomplete"/>
                    </div>
                </div>
                    <label class="layui-form-label">操作</label>
                    <div class="layui-input-inline">
                        <input class="layui-btn" type="submit" value="查询" />
                    </div>
                <!--{if $cdo['export']}-->
                    &nbsp
                    <div class="layui-input-inline">
                        <input class="layui-btn layui-btn-danger" type="submit" name="export" value="导出" />
                    </div>
                <!--{/if}-->
            </div>
    </form>
</fieldset>