{template jjsan:cp/common/header}
<table class="layui-table">
	<tr>
		<th>ID</th>
		<th>商铺名称</th>
		<th>商铺地址</th>
		<th>选定</th>
	</tr>
<!--{loop $shops $shop}-->
	<tr>
		<td>{$shop['id']}</td>
		<td>{$shop['name']}</td>
		<td>{$shop['locate']}</td>
		<td><a class="layui-btn layui-btn-normal layui-btn-small choose-shop" href="index.php?mod={$mod}&act={$act}&opt=ajax-shop-set&shop_station_id={$shop_station_id}&shopid={$shop['id']}&page={$page}">选择</a></td>
	</tr>
<!--{/loop}-->
</table>
<p> {$pagehtm} </p>
<script>
	layui.use('layer', function(){
            $('.choose-shop').click(function(){
                parent.layer.close(parent.layer.getFrameIndex(window.name)); // 关闭本iframe层
                parent.location.reload(); // 父页面刷新
			});
            return false;
        });
</script>
{template jjsan:cp/common/footer}
