{template jjsan:cp/common/header}

<div class="shop-stationGoUp">
        <h4 style="margin: 20px 30px">
            <span> 新的机器sid </span> :
            <input type="text" name="sid" id="sid" class="ui-input-longSize" >
        </h4>
        <div style="text-align: center; margin: 20px">
			<input class="layui-btn" type="button" name="replace" value="确认上机" onclick="goUpShopStation({$shop_station_id})">
		</div>
</div>


<script type="text/javascript">

function goUpShopStation(shop_station_id, sid) {
    if(confirm("确定上机？")) {
        sid = document.getElementById('sid');
        directive('shop_station_go_up', shop_station_id, sid.value);
    }
}

function directive(opt, shop_station_id, sid) {
    var url = 'index.php?mod=cp&act=shop_station';
    $.ajax({
        url: url,
        dataType : 'JSON',
        data: {"opt": opt, "shop_station_id" : shop_station_id, "sid" : sid},
    })
    .done(function(data) {
        alert(data.errmsg);
        parent.layer.close(parent.layer.getFrameIndex(window.name)); // 关闭本iframe层
        parent.location.reload(); // 父页面刷新
    })
    .fail(function() {
        alert('error');
    });
}

</script>

{template jjsan:cp/common/footer}
