<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jquery.devbridge-autocomplete/1.2.27/jquery.autocomplete.js"></script>
<fieldset class="fieldsetclass order_form">
	<legend> 搜索条件 </legend>
	<form method="get">
		<input type="hidden" name="mod" value="{$mod}">
		<input type="hidden" name="act" value="{$act}">
		<input type="hidden" name="opt" value="{$opt}">
		{template jjsan:cp/common/province_city_area}
		<div class="layui-form-item">
			<div class="layui-input-inline">
				<label class="layui-form-label">开始时间:</label>
				<input name="start_time" value="{$start_time}" class="laydate-icon" id="start"/>
			</div>

			<div class="layui-input-inline">
				<label class="layui-form-label">结束时间:</label>
				<input name="end_time" value="{$end_time}" class="laydate-icon" id="end"/>
			</div>

			<div class="layui-input-inline">
				<label class="layui-form-label">商铺站点名称:</label>
				<input type="text" name="title" value="{$title}" id="autocomplete"/>
				<input type="hidden" name="shop_station_id" id="shop_station_id" value="{$shop_station_id}">
			</div>

			<div class="layui-input-inline">
				<label class="layui-form-label">排&nbsp;&nbsp;&nbsp;&nbsp;序:</label>
				<select name="orderby" id="orderby">
					<option value="{BORROW_SUCCESS_ORDER}" {echo $orderby == BORROW_SUCCESS_ORDER ? 'selected' : '';}>租借成功订单数降序</option>
					<option value="{RETURN_SUCCESS_ORDER}" {echo $orderby == RETURN_SUCCESS_ORDER ? 'selected' : '';}>归还成功订单数降序</option>
					<option value="{BORROW_SUCCESS_ORDER_RATE}" {echo $orderby == BORROW_SUCCESS_ORDER_RATE ? 'selected' : '';}>租借成功订单比降序</option>
					<option value="{RETURN_SUCCESS_ORDER_RATE}" {echo $orderby == RETURN_SUCCESS_ORDER_RATE ? 'selected' : '';}>归还成功订单比降序</option>
				</select>
				<select name="show_zero" id="show_zero">
					<option value="0" {echo $show_zero == 0 ? 'selected' : '';}>不显示订单为0的订单</option>
					<option value="1" {echo $show_zero == 1 ? 'selected' : '';}>显示订单为0的订单</option>
				</select>
			</div>

		</div>

		<div class="inline" style="margin-left: 2%;">
			<button class="layui-btn" type="submit" id="search">查询</button>
			<input class="layui-btn layui-btn-danger" type="submit" name="export" value="导出" />
		</div>
	</form>
</fieldset>

<section style="margin-top:20px;">
	<div class="data-statistics">
		<h3 style="float: right">
			统计时间: <em>{$first_date} - {$last_date} </em>
		</h3>
		<h3>
			共 <em>{$record_count} </em>条记录
		</h3>
	</div>
	<table class="layui-table">
		<thead>
			<tr>
				<th>
					商铺站点id
				</th>
				<th>
					商铺站点名称
				</th>
				<th>
					站点id
				</th>
				<th>
					业态
				</th>
				<th>
					城市
				</th>
				<th>
					租借成功订单数
				</th>
				<th>
					归还成功订单数
				</th>
				<th>
					尝试租借用户数
				</th>
				<th>
					借成功用户数
				</th>
				<th>
					还成功用户数
				</th>
				<th>
					盈利总额（元）
				</th>
				<th>
					盈利总额（元）<br>
					<span class="sub-text">（扣除雨伞成本20元）</span>
				</th>
				<th>
					盈利订单数
				</th>
				<th>
					平均每人收益（元）
				</th>
				<th>
					平均每人次收益（元）
				</th>
				<th>
					平均租借时间（秒）
				</th>
				<th>
					租金转化率
				</th>
				<th>
					客单价（元）
				</th>
				<th>
					押金提现率
				</th>
				<th>
					归还率
				</th>
				<th>
					总租借订单数
				</th>
				<th>
					租借成功订单比<br>
					<span class="sub-text">（租借成功订单数/总订单数）</span>
				</th>
				<th>
					归还成功订单比<br>
					<span class="sub-text">（归还成功订单数/总订单数）</span>
				</th>
			</tr>
		</thead>
			<tr class="padding10">
				<th>
					<b>{lang jjsan:all}</b>
				</th>
				<th>
					<b>{$station_title}</b>
				</th>
				<th>
					<b>{$station_id}</b>
				</th>
				<th>
					<b>--</b>
				</th>
				<th>
					<b>{echo $city ? : '全部'}</b>
				</th>
				<th>
					<b>{$all_data['borrow_success_order']}</b>
				</th>
				<th>
					<b>{$all_data['return_success_order']}</b>
				</th>
				<th>
					<b>{$all_data['borrow_try_user']}</b>
				</th>
				<th>
					<b>{$all_data['borrow_success_user']}</b>
				</th>
				<th>
					<b>{$all_data['return_success_user']}</b>
				</th>
				<th>
					<b>{$all_data['total_usefee']}</b>
				</th>
				<th>
					<b>{$all_data['seller_usefee']}</b>
				</th>
				<th>
					<b>{$all_data['charge_order']}</b>
				</th>
				<th>
					<b>{$all_data['usefee_per_user']}</b>
				</th>
				<th>
					<b>{$all_data['usefee_per_order']}</b>
				</th>
				<th>
					<b>{$all_data['average_time']}</b>
				</th>
				<th>
					<b>{$all_data['charge_order_rate']}</b>
				</th>
				<th>
					<b>{$all_data['usefee_per_return_order']}</b>
				</th>
				<th>
					<b>{$all_data['refund_per_return_order']}</b>
				</th>
				<th>
					<b>{$all_data['return_order_per_borrow_order']}</b>
				</th>
				<th>
					<b>{$all_data['borrow_try_order']}</b>
				</th>
				<th>
					<b>{$all_data['borrow_success_order_rate']}</b>
				</th>
				<th>
					<b>{$all_data['return_success_order_rate']}</b>
				</th>
			</tr>
		<!--{loop $data $key $value}-->
		<!--{if $key != 0}-->
		<tbody>
			<tr>
				<td> {$key} </td>
				<td> {$value['station_title']} </td>
				<td> {$value['station_id']} </td>
				<td> {$value['station_shop_type']} </td>
				<td> {$value['city']} </td>
				<td> {$value['borrow_success_order']} </td>
				<td> {$value['return_success_order']} </td>
				<td> {$value['borrow_try_user']} </td>
				<td> {$value['borrow_success_user']} </td>
				<td> {$value['return_success_user']} </td>
				<td> {$value['total_usefee']} </td>
				<td> {$value['seller_usefee']} </td>
				<td> {$value['charge_order']} </td>
				<td> {$value['usefee_per_user']} </td>
				<td> {$value['usefee_per_order']} </td>
				<td> {$value['average_time']} </td>
				<td> {$value['charge_order_rate']} </td>
				<td> {$value['usefee_per_return_order']} </td>
				<td> {$value['refund_per_return_order']} </td>
				<td> {$value['return_order_per_borrow_order']} </td>
				<td> {$value['borrow_try_order']} </td>
				<td> {$value['borrow_success_order_rate']} </td>
				<td> {$value['return_success_order_rate']} </td>
			</tr>
		</tbody>
		<!--{/if}-->
		<!--{/loop}-->
	</table>
	<p>{$pagehtm}</p>
</section>
<script>
	$.getJSON('/index.php?mod=cp&act=shop_station&opt=get_shop_station_list', function(data) {
		stations_array = data.suggestions;
		autocomplete_title(stations_array);
	});

	$('#get-province').on('change', function () {
		$.ajax({
			url: '/index.php?mod=cp&act=shop_station&opt=get_shop_station_list',
			dataType: "json",
			data: {province: $('#get-province').val()}
		})
		.done(function(data) {
			stations_array = data.suggestions;
			autocomplete_title(stations_array);
		});
	});

	$('#get-city').on('change', function () {
		$.ajax({
			url: '/index.php?mod=cp&act=shop_station&opt=get_shop_station_list',
			dataType: "json",
			data: {
				province: $('#get-province').val(),
				city: $('#get-city').val()
			}
		})
		.done(function(data) {
			stations_array = data.suggestions;
			autocomplete_title(stations_array);
		});
	});

	$('#get-area').on('change', function () {
		$.ajax({
			url: '/index.php?mod=cp&act=shop_station&opt=get_shop_station_list',
			dataType: "json",
			data: {
				province: $('#get-province').val(),
				city: $('#get-city').val(),
				area: $('#get-area').val()
			}
		})
		.done(function(data) {
			stations_array = data.suggestions;
			autocomplete_title(stations_array);
		});
	});

	function autocomplete_title(stations_array) {
		$('#autocomplete').autocomplete({
			// serviceUrl : '/index.php?mod=api&act=station&opt=get_shop_station_list',
			lookup : stations_array,
			minChars : 0,
			onSelect: function (suggestion) {
				$('#shop_station_id').val(suggestion.data);
				console.log('shop_station_id:' + suggestion.data + ', title:' + suggestion.value);
			},
		});

		$('#autocomplete').on('focus', function (){
			$(this).autocomplete().onValueChange();
		});
	}

	$("form").on('submit', function() {
		$("#search").attr("disabled", "disabled");
		$("#search").addClass('layui-btn-disabled');
	});
</script>
<script>
    //选择开始和结束日期
    var start = {
        elem: '#start',
        format: 'YYYY/MM/DD',
        //min: laydate.now(), //设定最小日期为当前日期
        max: '2099-06-16 23:59:59', //最大日期
        istime: true,
        istoday: false,
        choose: function(datas){
            end.min = datas; //开始日选好后，重置结束日的最小日期
            end.start = datas //将结束日的初始值设定为开始日
        }
    };
    var end = {
        elem: '#end',
        format: 'YYYY/MM/DD',
        //min: laydate.now(),
        max: '2099-06-16 23:59:59',
        istime: true,
        istoday: false,
        choose: function(datas){
            start.max = datas; //结束日选好后，重置开始日的最大日期
        }
    };
    laydate(start);
    laydate(end);
</script>
