{template jjsan:cp/common/header}
<table class="layui-table" >
        <tr>
            <th>{lang jjsan:order_id}</th>
            <th>{lang jjsan:order_price}</th>
            <th>{lang jjsan:order_status}</th>
            <th>费用</th>
            <th>城市</th>
            <th>借出地点/时间</th>
            <th>归还地点/时间</th>
        </tr>
        <!--{loop $orders $order}-->
        <tr>
            <td>
                {$order['orderid']}
            </td>
            <td >
                {$order['price']}
            </td>

            <td>
                <!--{if $order['status'] == ORDER_STATUS_RENT_CONFIRM}-->
                <span style="color: #009688">借出</span>
                <!--{elseif $order['status'] == ORDER_STATUS_RETURN}-->
                <span style="color: #44b753">归还</span>
                <!--{elseif $order['status'] == ORDER_STATUS_WAIT_PAY}-->
                <span style="color: orange">未支付</span>
                <!--{elseif $order['status'] == ORDER_STATUS_TIMEOUT_REFUND}-->
                <span style="color: red">网络超时</span>
                <!--{elseif $order['status'] == ORDER_STATUS_RENT_NOT_FETCH}-->
                <span style="color: #1E9FFF">借出未拿走</span>
                <!--{elseif $order['status'] == ORDER_STATUS_TIMEOUT_CANT_RETURN}-->
                <span style="color: #1E9FFF">租金已扣完(归还)</span>
                <!--{elseif $order['status'] == ORDER_STATUS_TIMEOUT_NOT_RETURN}-->
                <span style="color: #1E9FFF">租金已扣完(未归还)</span>
                <!--{elseif $order['status'] == ORDER_STATUS_PAID}-->
                <span style="color: #1E9FFF">已支付但未借出</span>
                <!--{elseif $order['status'] == ORDER_STATUS_RENT_CONFIRM_FIRST}-->
                <span style="color: #1E9FFF">准备借出</span>
                <!--{elseif $order['status'] == ORDER_STATUS_RETURN_MANUALLY}-->
                <span style="color: #1E9FFF">管理员已手动撤销订单</span>
                <!--{elseif $order['status'] == ORDER_STATUS_RETURN_EXCEPTION_MANUALLY_REFUND}-->
                <span style="color: #1E9FFF">管理员已手动退款</span>
                <!--{elseif $order['status'] == ORDER_STATUS_NO_UMBRELLA}-->
                <span style="color: #1E9FFF">站点没有雨伞</span>
                <!--{elseif $order['status'] == ORDER_STATUS_POWER_LOW}-->
                <span style="color: #1E9FFF">机器电池电量不足</span>
                <!--{elseif $order['status'] == ORDER_STATUS_MOTOR_ERROR}-->
                <span style="color: red">借出故障</span>
                <!--{elseif $order['status'] == ORDER_STATUS_SYNC_TIME_FAIL}-->
                <span style="color: red">同步时间失败</span>
                <!--{elseif $order['status'] == ORDER_STATUS_LAST_ORDER_UNFINISHED}-->
                <span style="color: #1E9FFF">上一单未完成</span>
                <!--{elseif $order['status'] == ORDER_STATUS_NETWORK_NO_RESPONSE}-->
                <span style="color: red">网络确认无应答</span>
                <!--{elseif $order['status'] == ORDER_STATUS_RETURN_EXCEPTION_SYS_REFUND}-->
                <span style="color: red">借出后同步,归还异常(系统已退款)</span>
                <!--{else}-->
                <span>其他</span>
                <!--{/if}-->
            </td>
            <td>{$order['usefee']}</td>
            <td>{$order['borrow_city']}</td>
            <td>
                {$order['borrow_station_name']}<br>{echo date('Y-m-d H:i:s', $order['borrow_time'])}
            </td>
            <td>
                <!--{if $order['return_station'] }-->
                    {$order['return_station_name']}<br>{echo date('Y-m-d H:i:s', $order['return_time'])}
                <!--{else}-->
                    无
                <!--{/if}-->
            </td>
        </tr>
        <!--{/loop}-->
    </table>
<p>{$pagehtm}</p>
{template jjsan:cp/common/footer}