<!--{if $cdo['add']}-->
<fieldset class="fieldsetclass">
    <legend>操作</legend>
    <button class="item-update layui-btn add-pictext"> {$cdo['add']} </button>
</fieldset>
<!--{/if}-->
<table class="layui-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>名称</th>
        <th>在用商铺</th>
        <th>生效时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <!--{loop $pictexts $pictext}-->
    <tr>
        <td>{$pictext['id']}</td>
        <td>{$pictext['name']}</td>
        <td>
            <!--{if $pictext['shops']}-->
                <!--{loop $pictext['shops'] $shop}-->
                {$shop['title']}&nbsp&nbsp&nbsp&nbsp&nbsp
                <!--{/loop}-->
            <!--{else}-->
               无
            <!--{/if}-->
        </td>
        <td>
            {echo date('Y-m-d H:i:s',$pictext['stime'])}
            --
            {echo date('Y-m-d H:i:s',$pictext['etime'])}
        </td>
        <td>
            <!--{if $cdo['edit']}-->
            <button class="layui-btn layui-btn-normal layui-btn-small edit-pictext" data-id="{$pictext['id']}">{$cdo['edit']}</button>
            <!--{/if}-->
            <!--{if $cdo['delete']}-->
            <button class="layui-btn layui-btn-danger layui-btn-small delete-pictext" data-id="{$pictext['id']}">{$cdo['delete']}</button>
            <!--{/if}-->
        </td>
    </tr>
    <!--{/loop}-->
    </tbody>
</table>
<script>
    layui.use(['layer'],function(){
            var layer = layui.layer;
            //　添加按钮
            $(".add-pictext").click(function(){
                layer.open({
                    type: 2,
                    title: '添加配置',
                    maxmin: true,
                    area : ['800px' , '600px'],
                    content: 'index.php?mod={$mod}&act={$act}&opt={$opt}&do=add',
                });
            });
            //　编辑按钮
            $(".edit-pictext").click(function(){
                layer.open({
                    type: 2,
                    title: '编辑配置',
                    maxmin: true,
                    area : ['800px' , '600px'],
                    content: 'index.php?mod={$mod}&act={$act}&opt={$opt}&do=edit&pid='+$(this).data('id'),
                });
            });
            // 删除按钮
            $(".delete-pictext").click(function(){
                $.ajax({
                    url: 'index.php?mod={$mod}&act={$act}&opt={$opt}&do=delete&pid='+$(this).data('id'),
                    data: {},
                    success: function(e){
                        if(e.code == 0) {
                            layer.msg(e.msg, {icon: 1}, function(){
                                window.location.reload();
                            });
                        } else {
                            layer.msg(e.msg, {icon: 2, time: 3000});
                        }
                    }
                });
            });
        });
</script>