{template jjsan:cp/common/header}
<div class="layui-form item-edit">
	<div>
		<label>商品名称</label>
		<div class="style-input">
			<input type="text" class="layui-input" name="subject" id="item-subject" value="{$good['subject']}" required>
		</div>
	</div>
	<div>
		<label>租赁价格</label>
		<div class="style-input">
			<input type="text" class="layui-input" name="price" id="item-price" value="{$good['price']}" required>
		</div>
	</div>
	<div>
		<label>描述</label>
		<div class="style-input">
			<textarea name="desc" class="layui-textarea" id="item-desc">{$good['desc']}</textarea>
		</div>
	</div>
	<div>
		<div class="ui-btn-center">
			<button class="layui-btn item-sumbit">更新租赁商品</button>
		</div>
	</div>
</div>
<script>
    layui.use(['layer', 'form'], function(){
        var layer = layui.layer;
        var form = layui.form();
        $('.item-sumbit').click(function(){
            $.ajax({
                url:'/index.php?mod={$mod}&act={$act}&opt={$opt}&do={$do}',
                type:'POST',
                data:{
                    'subject': $('#item-subject').val(),
                    'price': $('#item-price').val(),
                    'desc': $('#item-desc').val(),
					'id': "{$good['id']}"
                },
                success:function(e) {
                    if(e.code == 0) {
                        layer.msg(e.msg, {icon: 1}, function(){
                            parent.layer.close(parent.layer.getFrameIndex(window.name)); // 关闭本iframe层
                            parent.location.reload(); // 父页面刷新
                        });
                    } else {
                        layer.msg(e.msg, {icon: 2});
                    }
                },
            });
        })
    })
</script>
{template jjsan:cp/common/footer}