<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<meta name="format-detection" content="telephone=no" />
<title>{echo $navtitle ? : DEFAULT_TITLE}</title>
<link rel="stylesheet" href="/static/css/reset.css" media="all">
<link rel="stylesheet" href="/static/css/jjsstyle.css" media="all">
<!--<link rel="stylesheet" href="/static/css/style.css" media="all">
<link rel="stylesheet" href="/static/css/mystyle.css" media="all">-->
<script src="/static/js/common.js"></script>
</head>
<body>
<div id="append_parent"></div><div id="ajaxwaitid"></div>
<div id="debug" style="display:none;"><pre>{$debug}</pre></div>
<div id="alipay_container" style="display:none"></div>
